<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta content="text/html;charset=UTF-8" />
    <title sec:authentication="username"></title>
    <link th:href="@{bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <style type="text/css">
        body{
            padding-top:50px;
        }
        .starter-template{
            padding:40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Security</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">index</a> </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <div class="starter-template">
        <h1 th:text="${msg.title}"></h1>
        <p class="bg-primary" th:text="${msg.content}"></p>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <p class="bg-info" th:text="${msg.etraInfo}"></p>
        </div>
        <div sec:authorize="hasRole('ROLE_USER')">
            <p class="bg-info" >无更多信息显示</p>
        </div>
        <form name="form" th:action="@{/logout}"  method="POST">

            <input type="submit" id="login" value="注销" class="btn btn-primary">
        </form>
    </div>
</div>
</body>
</html>